@import '../../global/global.scss';

.box {
    width: $boxWidth;
    height: $boxHeight;
    stroke-width: $strokeWidth;    
    fill: none;
    stroke: black;
}

.line {
    stroke: black;
    stroke-width: $strokeWidth;
}

.circle {
    stroke-width: $strokeWidth;
}

.rect {
    stroke-width: $strokeWidth;
}

.path {
    stroke-width: $strokeWidth;
}
